# Ignore large datasets and data folders
mura_images/
data/
archive/

# Ignore MLflow data (mounted as volume)
mlruns/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment and Git
.env
.git/
venv/
.pytest_cache/

# Ignore Windows specific
Thumbs.db

# Additions
*.csv
FracAtlas*
Fracatlas/
scratch/
checkpoints/
